.appleItem {
    width: 350px;
    margin: 10px auto;
    border-radius: 4px;
    border: 1px solid #ddd;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    .apple {
        flex-grow: 1;
    }
    .info {
        flex-grow: 2;
        .name {
            padding: 6px 0;
            font-size: 20px;
            color: #069;
            font-weight: 600;
        }
        .weight {
            font-size: 16px;
            font-weight: 200;
        }
    }
    .btn-div {
        flex-grow: 1;
        button {
            color: #fff;
            background-color: #169bd5;
            border: none;
            font-size: 14px;
            padding: 10px 20px;
            border-radius: 6px;
            margin: 20px auto;
            outline: none;
            cursor: pointer;
        }
    }
}